h1, h2, h3, h4, h5, h6, p, blockquote, figure, ul, ol, dl, dd, th, td, pre, button, .nav-menu, .sub-menu, .menu-item { margin: 0; padding: 0; border: 0; }

body { margin: 0; }

img { border: 0; }

:focus { outline: 0; }

button, .nav-menu a, .nav-menu a:hover { background: none; }

a, button { color: inherit; }

a, button { cursor: pointer; }

main, li, .wp-caption img[class*="wp-image-"], .nav-menu .menu-item:hover > .sub-menu { display: block; }

.nav-menu { display: flex; }

.nav-menu .sub-menu { display: none; }

.alignleft { float: left; }

.alignright { float: right; }

button { font: inherit; }

button { -webkit-font-smoothing: inherit; }

strong { font-weight: bold; }

button { letter-spacing: inherit; }

a { text-decoration: none; }

.nav-menu .menu-item-has-children { position: relative; }

.nav-menu .sub-menu { position: absolute; }

button { overflow: visible; }

img, .wp-caption { max-width: 100%; }

img { height: auto; }

a, button { transition-duration: 0.3s; }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

::-moz-focus-inner { padding: 0; border: 0; }

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size: 75%; }
@media screen and (min-width: 40em) { html { font-size: 87.5%; } }
@media screen and (min-width: 50em) { html { font-size: 93.75%; } }
@media screen and (min-width: 64.0625em) { html { font-size: 87.5%; } }
@media screen and (min-width: 100em) { html { font-size: 118.75%; } }

body { font-family: Ek Mukta, sans-serif; font-style: normal; font-weight: 400; line-height: 2rem; font-size: 1.41667rem; }
@media screen and (min-width: 40em) { body { font-size: 1.28571rem; } }
@media screen and (min-width: 50em) { body { font-size: 1.2rem; } }
@media screen and (min-width: 64.0625em) { body { font-size: 1.14286rem; } }
@media screen and (min-width: 100em) { body { font-size: 0.84211rem; } }

a { color: black; text-decoration: none; }
a:hover, a:active, a:focus { color: #9b9b9b; text-decoration: none; }

p a, li a { background-image: linear-gradient(to bottom, transparent 50%, #333333 50%); background-position: 0 78%; background-repeat: repeat-x; background-size: 100% 0.15rem; text-shadow: 0.1rem 0 white, 0.15rem 0 white, -0.1rem 0 white, -0.15rem 0 white; }
p a:hover, p a:active, p a:focus, li a:hover, li a:active, li a:focus { background-image: linear-gradient(to bottom, transparent 50%, #cecece 50%); }

p { font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1; line-height: 2rem; margin-bottom: 1.46041rem; padding-top: 0.53959rem; }
@media screen and (min-width: 40em) { p { margin-bottom: 1.41785rem; padding-top: 0.58215rem; } }
@media screen and (min-width: 50em) { p { margin-bottom: 1.38999rem; padding-top: 0.61001rem; } }
@media screen and (min-width: 64.0625em) { p { margin-bottom: 1.37142rem; padding-top: 0.62858rem; } }
@media screen and (min-width: 100em) { p { margin-bottom: 1.27367rem; padding-top: 0.72633rem; } }

h1, h2, h3, h4, h5, h6 { font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1; color: black; font-family: Ek Mukta, sans-serif; font-style: normal; font-weight: 700; text-transform: uppercase; }

.h0 { line-height: 6rem; font-size: 2.75rem; margin-bottom: 0.89374rem; padding-top: 2.10626rem; }
@media screen and (min-width: 40em) { .h0 { font-size: 4.38857rem; margin-bottom: 1.42628rem; padding-top: 1.57372rem; } }
@media screen and (min-width: 50em) { .h0 { font-size: 4.096rem; margin-bottom: 1.33119rem; padding-top: 1.66881rem; } }
@media screen and (min-width: 64.0625em) { .h0 { font-size: 7.02143rem; margin-bottom: 2.28195rem; padding-top: 0.71805rem; } }
@media screen and (min-width: 100em) { .h0 { font-size: 5.17368rem; margin-bottom: 1.68144rem; padding-top: 1.31856rem; } }

h1 { line-height: 4rem; font-size: 2.20833rem; margin-bottom: 1.7177rem; padding-top: 1.2823rem; margin-top: 3rem; }
@media screen and (min-width: 40em) { h1 { font-size: 2.00714rem; margin-bottom: 1.65231rem; padding-top: 1.34769rem; } }
@media screen and (min-width: 50em) { h1 { font-size: 1.87333rem; margin-bottom: 1.60882rem; padding-top: 1.39118rem; } }
@media screen and (min-width: 64.0625em) { h1 { font-size: 4.38857rem; margin-bottom: 2.42628rem; padding-top: 0.57372rem; } }
@media screen and (min-width: 100em) { h1 { font-size: 3.23368rem; margin-bottom: 2.05094rem; padding-top: 0.94906rem; } }

h2 { line-height: 3rem; font-size: 2rem; margin-bottom: 0.14999rem; padding-top: 0.85001rem; margin-top: 2rem; }
@media screen and (min-width: 40em) { h2 { font-size: 1.79286rem; margin-bottom: 0.08267rem; padding-top: 0.91733rem; } }
@media screen and (min-width: 50em) { h2 { font-size: 1.70667rem; margin-bottom: 0.05466rem; padding-top: 0.94534rem; } }
@media screen and (min-width: 64.0625em) { h2 { font-size: 2.74286rem; margin-bottom: 0.39142rem; padding-top: 0.60858rem; } }
@media screen and (min-width: 100em) { h2 { font-size: 2.02105rem; margin-bottom: 0.15683rem; padding-top: 0.84317rem; } }

h3 { line-height: 2rem; font-size: 1.6rem; margin-bottom: 0.51999rem; padding-top: 0.48001rem; }
@media screen and (min-width: 40em) { h3 { font-size: 1.60714rem; margin-bottom: 0.52231rem; padding-top: 0.47769rem; } }
@media screen and (min-width: 50em) { h3 { font-size: 1.5rem; margin-bottom: 0.48749rem; padding-top: 0.51251rem; } }
@media screen and (min-width: 64.0625em) { h3 { font-size: 1.71429rem; margin-bottom: 0.55713rem; padding-top: 0.44287rem; } }
@media screen and (min-width: 100em) { h3 { font-size: 1.26316rem; margin-bottom: 0.41052rem; padding-top: 0.58948rem; } }

h4, h5, h6 { line-height: 1.5rem; font-size: 1.6rem; margin-bottom: 0.26999rem; padding-top: 0.23001rem; letter-spacing: 0.075rem; }
@media screen and (min-width: 40em) { h4, h5, h6 { font-size: 1.43571rem; margin-bottom: 0.2166rem; padding-top: 0.2834rem; } }
@media screen and (min-width: 50em) { h4, h5, h6 { font-size: 1.36667rem; margin-bottom: 0.19416rem; padding-top: 0.30584rem; } }
@media screen and (min-width: 64.0625em) { h4, h5, h6 { font-size: 1.07143rem; margin-bottom: 0.0982rem; padding-top: 0.4018rem; } }
@media screen and (min-width: 100em) { h4, h5, h6 { font-size: 0.78947rem; margin-bottom: 0.00657rem; padding-top: 0.49343rem; } }

ul, ol { line-height: 2rem; margin-bottom: 1.46041rem; padding-top: 0.53959rem; }
@media screen and (min-width: 40em) { ul, ol { margin-bottom: 1.41785rem; padding-top: 0.58215rem; } }
@media screen and (min-width: 50em) { ul, ol { margin-bottom: 1.38999rem; padding-top: 0.61001rem; } }
@media screen and (min-width: 64.0625em) { ul, ol { margin-bottom: 1.37142rem; padding-top: 0.62858rem; } }
@media screen and (min-width: 100em) { ul, ol { margin-bottom: 1.27367rem; padding-top: 0.72633rem; } }
ul li, ol li { font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1; margin-left: 2rem; }

b, strong { font-weight: 800; }

em, i { font-style: italic; }

small, .caption { font-family: Libre Baskerville, serif; font-style: italic; font-weight: 400; font-size: 1.06667rem; }
@media screen and (min-width: 40em) { small, .caption { font-size: 1.02857rem; } }
@media screen and (min-width: 50em) { small, .caption { font-size: 0.96rem; } }
@media screen and (min-width: 64.0625em) { small, .caption { font-size: 0.91429rem; } }
@media screen and (min-width: 100em) { small, .caption { font-size: 0.67368rem; } }

small { line-height: 1rem; }

.caption { color: #9b9b9b; line-height: 2rem; margin-bottom: 1.34666rem; padding-top: 0.65334rem; }
@media screen and (min-width: 40em) { .caption { margin-bottom: 1.33428rem; padding-top: 0.66572rem; } }
@media screen and (min-width: 50em) { .caption { margin-bottom: 1.31199rem; padding-top: 0.68801rem; } }
@media screen and (min-width: 64.0625em) { .caption { margin-bottom: 1.29713rem; padding-top: 0.70287rem; } }
@media screen and (min-width: 100em) { .caption { margin-bottom: 1.21894rem; padding-top: 0.78106rem; } }

h1 + .caption, h3 + .caption { margin-top: -1rem; }

blockquote p { font-weight: 800; text-transform: uppercase; color: black; line-height: 2.5rem; font-size: 1.6rem; margin-bottom: 0.26999rem; padding-top: 0.73001rem; margin-bottom: 1.92082rem; padding-bottom: 0.53959rem; }
@media screen and (min-width: 40em) { blockquote p { font-size: 1.60714rem; margin-bottom: 0.27231rem; padding-top: 0.72769rem; } }
@media screen and (min-width: 50em) { blockquote p { font-size: 1.5rem; margin-bottom: 0.23749rem; padding-top: 0.76251rem; } }
@media screen and (min-width: 64.0625em) { blockquote p { font-size: 1.71429rem; margin-bottom: 0.30713rem; padding-top: 0.69287rem; } }
@media screen and (min-width: 100em) { blockquote p { font-size: 1.26316rem; margin-bottom: 0.16052rem; padding-top: 0.83948rem; } }
@media screen and (min-width: 40em) { blockquote p { margin-bottom: 1.8357rem; padding-bottom: 0.58215rem; } }
@media screen and (min-width: 50em) { blockquote p { margin-bottom: 1.77999rem; padding-bottom: 0.61001rem; } }
@media screen and (min-width: 64.0625em) { blockquote p { margin-bottom: 1.74285rem; padding-bottom: 0.62858rem; } }
@media screen and (min-width: 100em) { blockquote p { margin-bottom: 1.54736rem; padding-bottom: 0.72633rem; } }

hr { background-image: linear-gradient(to bottom, transparent 50%, #9b9b9b 50%); background-position: 0 50%; background-repeat: repeat-x; background-size: 100% 0.15rem; border: 0; margin: 0; padding-bottom: 3rem; padding-top: 3rem; }

code, pre { background-color: #f5f4f2; font-family: Menlo, monospace; }

pre { display: block; margin-bottom: 2rem; padding: 1rem; white-space: pre; white-space: pre-wrap; word-break: break-all; word-wrap: break-word; }

code { line-height: 1rem; font-size: 1.06667rem; }
@media screen and (min-width: 40em) { code { font-size: 1.02857rem; } }
@media screen and (min-width: 50em) { code { font-size: 0.96rem; } }
@media screen and (min-width: 64.0625em) { code { font-size: 0.91429rem; } }
@media screen and (min-width: 100em) { code { font-size: 0.67368rem; } }

.intro { line-height: 2.5rem; font-size: 1.6rem; margin-bottom: 1.26999rem; padding-top: 0.73001rem; font-weight: 300; }
@media screen and (min-width: 40em) { .intro { font-size: 1.60714rem; margin-bottom: 1.27231rem; padding-top: 0.72769rem; } }
@media screen and (min-width: 50em) { .intro { font-size: 1.5rem; margin-bottom: 1.23749rem; padding-top: 0.76251rem; } }
@media screen and (min-width: 64.0625em) { .intro { font-size: 1.71429rem; margin-bottom: 1.30713rem; padding-top: 0.69287rem; } }
@media screen and (min-width: 100em) { .intro { font-size: 1.26316rem; margin-bottom: 1.16052rem; padding-top: 0.83948rem; } }

@media screen and (min-width: 50em) { .pull { width: calc(60px + 66%); margin-right: calc(60px - 50%); margin-bottom: rhythm(1); padding-left: 60px; padding-right: 0; float: right; } }
@media screen and (min-width: 50em) { .twocolumn { column-count: 2; column-gap: 40px; } }
@media screen and (min-width: 64.0625em) { .twocolumn { column-gap: 60px; } }

.aligncenter { margin: 0 auto; }

.single-post .entry-content, .single-post .entry-footer, .page .entry-content, .page .entry-footer { max-width: 675px; margin: 0 auto; }

.nav-menu a { text-shadow: none; padding: .5em 1em; }
.nav-menu .menu-item-has-children > a:after { content: " v"; }
.nav-menu .sub-menu { width: 10em; top: 100%; }
.nav-menu .sub-menu .menu-item-has-children > a:after { content: " >"; }
.nav-menu .sub-menu .sub-menu { top: 0; left: 100%; }

.comments-area { max-width: 675px; margin: 0 auto; }

.entry-header { text-align: center; }

.cover { display: table; width: 100%; }
.cover > * { display: table-cell; vertical-align: middle; padding: 0; margin: 0; }
.cover.full-height { height: 100vh; }
.cover.half-height { height: 50vh; }
.cover.two-thirds-height { height: 66.666666vh; }

/*# sourceMappingURL=style.css.map */
