%bar {
    @extend %display--flex;
    background: white;
    width: 100%;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-direction: row;
    -webkit-flex-direction: row;

    // above mask which is 300
    // above .site-content which is 500
    z-index: 550;

    @include query-above($small) {
        height: $header-height;
        flex-basis: $header-height;
        -webkit-flex-basis: $header-height;
    }

}

.bar--fixed {
    @extend %bar;
    @extend %position--fixed;
    @extend %transform--0;
    left: 7px;
    right: 7px;
    width: auto;
}

%bar-piece {
    @extend %display--flex;
    align-items: center;
    -webkit-align-items: center;
}

%bar-middle {
    flex-basis: 70%;
    -webkit-flex-basis: 70%;
    justify-content: center;
}

%bar-side {
    flex-basis: 15%;
    -webkit-flex-basis: 15%;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

%bar-left {
    padding-left: 48px;
    justify-content: flex-start;
}

%bar-right {
    padding-right: 48px;
    justify-content: flex-end;
}

@include query-below($small) {

    %bar-piece {
        // display: block;
        margin: 0;
        flex-basis: 33%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .site-footer %bar-side {
        padding: 1.25em;
    }

    %bar-right {
        text-align: right;
    }
}

.no-flexbox {
    %bar {
        display: table;
        width: 100%;
    }

    .bar--fixed {
        display: table;
        width: 100%;
    }

    %bar-piece {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    %bar-side {
        width: 15%;
    }

    %bar-middle {
        width: 70%;
    }
}