%bar {
    @extend %display--flex;
    background-color: white;
    width: 100%;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-direction: row;
    -webkit-flex-direction: row;

    // above mask which is 300
    // above .site-content which is 500
    z-index: 550;

    @include query-above($lap) {
        height: $header-height*2/3;
        flex-basis: $header-height*2/3;
    }

    @include query-above($large) {
        height: $header-height;
        flex-basis: $header-height;
    }

}

.bar--fixed {
    @extend %bar;
    @extend %position--fixed;
    @extend %transform--0;
    left: $border-width;
    right: $border-width;
    width: auto;
}

%bar-piece {
    @extend %display--flex;
    align-items: center;
    -webkit-align-items: center;
}

%bar-middle {
    flex-basis: 70%;
    -webkit-flex-basis: 70%;
    justify-content: center;
    text-align: center;
}

%bar-side {
    flex-basis: 15%;
    -webkit-flex-basis: 15%;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

%bar-left {
    padding-left: 48px;
    justify-content: flex-start;
    text-align: left;

    @include query-below($desk) {
        padding-left: 32px;
    }
}

%bar-right {
    padding-right: 48px;
    justify-content: flex-end;
    text-align: right;

    @include query-below($desk) {
        padding-right: 32px;
    }
}

@include query-below($lap) {

    %bar-piece {
        margin: 0;
        flex-basis: 33%;
        flex-grow: 1;
        flex-shrink: 1;
    }

}

.no-flexbox {
    %bar {
        display: table;
        width: 100%;
    }

    .bar--fixed {
        display: table;
        width: 100%;
    }

    %bar-piece {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    %bar-side {
        width: 15%;
    }

    %bar-middle {
        width: 70%;
    }
}