%bar {
    @extend %display--flex;
    background: white;
    width: 100%;
    flex-shrink: 0;
    flex-direction: column;

    // above mask which is 300
    // above .site-content which is 500
    z-index: 550;

    @include query-above($small) {
        height: $header-height;
        flex-basis: $header-height;
        flex-direction: row;
    }
}

.bar--fixed {
    @extend %bar;
    @extend %position--fixed;
    @extend %transform--0;
    left: 0;
    right: 0;
    width: auto;

    @include wp-offset(0px, top, true);

    .page & {
        position: static !important;
    }
}

%bar-piece {
    @extend %display--flex;
    align-items: center;
}

%bar-middle {
    flex-basis: 70%;
    justify-content: center;
}

%bar-side {
    flex-basis: 15%;
    flex-grow: 1;
}

%bar-left {
    justify-content: center;

    @include query-above($small) {
        padding-left: 2em;
        justify-content: flex-start;
    }
}

%bar-right {
    justify-content: center;

    @include query-above($small) {
        padding-right: 2em;
        justify-content: flex-end;
    }
}