%bar {
    @extend %display--flex;
    background: white;
    width: 100%;
    height: $header-height;
    flex-basis: $header-height;
    flex-shrink: 0;

    // above mask which is 300
    // above .site-content which is 500
    z-index: 550;
}

.bar--fixed {
    @extend %bar;
    @extend %position--fixed;
    @extend %transform--0;
    left: 0.88vh;
    right: 0.88vh;
    width: auto;
}

%bar-piece {
    @extend %display--flex;
    align-items: center;
}

%bar-middle {
    flex-basis: 70%;
    justify-content: center;
}

%bar-side {
    flex-basis: 15%;
    flex-grow: 1;
}

%bar-left {
    justify-content: flex-start;
    padding-left: 2em;
}

%bar-right {
    justify-content: flex-end;
    padding-right: 2em;
}