.portfolio__item:hover {
	&:after,
	.product__details {
		opacity: 1;
	}
}


	.product_title {
		padding-top: 0;
		margin: 0;
		margin-bottom: 3px;
	}

	.product__link {
		display: block;

		+ a { // hide add to cart button, select options button
			display: none;
		}
	}

	.add_to_cart_button, .added_to_cart, .product_type_variable, .product_type_simple {
		display: inline-block;
	}

	.added_to_cart {
		margin-left: 20px;

		&:after {
			content: "\2192";
		}
	}

.product-category {
	@extend .filmstrip__item;
	@extend .product__item;
	display: block;

	a{
		display: block;

	}

	img {
		width: 100%;
	}
}

.filter--shop {
	transition: .3s opacity linear;

	.tax-product_cat & {
		opacity: 0;
		pointer-events: none;
	}
}
