.product__item {
	position: relative;

	.onsale {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;

		@extend .btn;
	}

	.price {
		display: block;
	}

	.wp-post-image {
		width: 100%;
	}
}

	.product__link {
		display: block;
	}