.product-list {
	list-style-type: none;
	opacity: 1;
	pointer-events: auto;

	padding-top: 0;
	margin-bottom: 0;
}

.product__item {
	position: relative;
	margin-left: 0;

	.price {
		@include sassline($fontsize: delta, $font: $headingtype, $lineheight: 1.5, $below: 1, $breakpoint: all);
		display: block;
	}

	.wp-post-image {
		width: 100%;
	}

	a, a:hover {
		background-image: none;
		text-shadow: none;
	}

	.product__details {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
	.product__title {
		margin-top: 0;
	}

	.product__link {
		display: block;
	}

	.add_to_cart_button, .added_to_cart {
		display: inline-block;
	}

	.added_to_cart {
		margin-left: 20px;

		&:after {
			content: "\2192";
		}
	}

.product-category {
	@extend .filmstrip__item;
	@extend .product__item;
	display: block;

	a{
		display: block;

	}

	img {
		width: 100%;
	}
}

.filter--shop {
	transition: .3s opacity linear;

	.tax-product_cat & {
		opacity: 0;
		pointer-events: none;
	}
}

.woocommerce.archive .site-info {
	flex-basis: 100%;
}
