.single-product {
	.site-main {
		margin: 0 auto;
		max-width: 1160px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.grid {
		margin-left: -60px;
	}

	.grid__item {
		padding-left: 60px;
	}
}

.single-product-tabs, .upsells.products, .related.products {
	@extend %single-width;
}

.product-post {
	position: relative;
}

.product__header {
	margin-bottom: 60px;
}

.product_title {
	text-align: center;
}


// Product images
.images__container {
	position: relative;
}

.woocommerce-main-image {
	&, img {
		display: block;
		width: 100%;
	}
}

.thumbnails {
	a, img {
		display: block;
	}

	a {
		margin-bottom: 20px;

		opacity: .5;
		transition: opacity .3s ease-in-out;

		&:hover {
			opacity: 1;
		}
	}
}

@include query-above($lap) {

	.images {
		display: flex;

		.woocommerce-main-image {
			flex: 1 1 auto;
			order: 2;
		}

		.thumbnails {
			flex: 1 1 150px;
			order: 1;

			padding-right: 20px;

			a, img {
				display: block;
			}

			a {
				margin-bottom: 20px;

				opacity: .5;
				transition: opacity .3s ease-in-out;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}





// Price, Description, Add to cart, Variations
.single-product .price {
	padding-top: 0;
	font-size: 38px;
	font-weight: 900;
}

.single_add_to_cart_button {
	@extend .btn;
	margin: 1.5em 0;
}





// Comments / reviews
#reviews {
	.comment {
		padding-left: 0;
	}

	.avatar {
		position: absolute;
		left: 0;
		top: 0;
	}

	.meta {
		padding-top: 0;
		margin-bottom: 0;
	}

	.comment_container {
		padding-left: 5.250em;
	}
}

.related.products, .cross-sells, .upsells.products {
	ul.products {
		@extend .filmstrip;
		position: relative;

		.product__item {
			display: inline-block;
			width: calc(50% - 5px);
		}
	}
}
