.project-addthis-container {
	@extend %bar-piece;
	@extend %bar-side;
	@extend %bar-left;
}

.share-box {
	position: relative;
}

.share-text {
	text-transform: uppercase;
}

.project_layout-fullscreen {
	.project-addthis-container {
		.share-button {
			background: url('assets/svg/share-icon-white.svg') no-repeat;
		}
	}
}

.project-addthis-container {
	.share-button {
		width: 22px;
		height: 22px;
		display: inline-block;
		vertical-align: middle;

		background: url('assets/svg/share-icon.svg') no-repeat;
		background-size: cover;
	}

	.share-text {
		@extend .caption;

		position: absolute;
		left: -10px;
		top: 50%;
		transform: translateY(-50%) translateZ(0);
		z-index: 1;

		padding-top: 0;

		opacity: 0;
		pointer-events: none;

		color: $hoverColour;
		text-transform: none;

		transition: 0.3s opacity linear;

		.single-jetpack-portfolio &:after {
			content: ":";
		}
	}

	.addthis_toolbox {
		transition: 0.3s background-color linear;
	}

	.active {
		.share-text {
			opacity: 1;
		}

		.share-button {
			opacity: 0;
		}

		.addthis_toolbox {
			background-color: white;
		}
	}
}

.share-button, .share-text {
	transition-duration: 0.2s;
}
.social-links-list {
	@extend %margin--0;
	@extend %padding--0;

	position: absolute;
	top: 50%;
	left: 0;
	min-width: 33vw;
	width: 300%;
	padding-left: 3em;
	transform: translateY(-50%);
	pointer-events: none;
	margin-top: 5px;

	.active & { pointer-events: auto; }

	.metabox & {
		padding-left: 5.5em;
	}

	.entry-footer & {
		width: 100%;
	}

	a, a:hover {
		background: none;
	}

	a {
		opacity: 0;
		display: inline-block;
		padding: 10px;
		transition-duration: 0s;

		@include query-below($lap) {

		}
	}

	a:hover .at4-icon{
		-webkit-filter: none;
		filter: none;
	}
}

@include query-below($lap) {
	.single-post {
		.social-links-list, .share-text {
			display: inline-block;
			vertical-align: middle;
		}

		.social-links-list {
			position: static;
			padding-left: 0;
			transform: none;

			a {
				opacity: 1 !important;
				transform: none !important;
			}
		}

		.share-text {
			opacity: 1;
		}

		.share-button {
			opacity: 0;
		}
	}
}

.addthis_toolbox.addthis_32x32_style span {
	background-size: 70% !important;
	background-position: center center !important;
}

.addthis_32x32_style {
	span {
		width: 28px !important;
		height: 28px !important;

		border-radius: 3px;

		-webkit-filter: grayscale(1) invert(1) brightness(2.3);
		-moz-filter: grayscale(1) invert(1) brightness(2.3);
		-o-filter: grayscale(1) invert(1) brightness(2.3);
		-ms-filter: grayscale(1) invert(1) brightness(2.3);
		filter: grayscale(1) invert(1) brightness(2.3);
		transition: all .3s linear;

		svg {
			width: 100% !important;
			height: 100% !important;
		}
	}

	a:hover span {
		-webkit-filter: none;
		-moz-filter: none;
		-o-filter: none;
		-ms-filter: none;
		filter: none;
	}
}

//AddThis hide the tooltip shown on hover over the plus button
#at15s.atm {
	display: none !important;
}

.addthis_toolbox.addthis_32x32_style span.at4-icon.aticon-facebook {
	background-position: 3px 3px !important;
}

.addthis_toolbox.addthis_32x32_style span.at4-icon.aticon-pinterest_share {
	background-position: 5px 3px !important;
}