@include query-above($small) {

    html[lang] {
        margin-top: 0 !important;
    }

    body {
        padding: 7px;

        &.admin-bar {
            padding-top: 0;

            &:after {
                border-top-width: 0;
            }
        }

        &:after {
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            width: 100%;
            bottom: 0;
            pointer-events: none;
            border: 0.9vh solid $bodyColour;

            .admin-bar & {
                border-top: 0;
            }
        }
    }
}