.filter {
    @extend %box--0;
    width: 100%;
    height: 100%;
    align-self: center;
    -webkit-align-self: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    text-align: center;
    border: 0 solid transparent;
    border-width: 1em 3em;
    overflow: hidden;

    &__item {
        @extend %delta;
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0 0.5em;
        padding: 0;

        &.active {
            @extend %current-item;
            font-weight: bold;
        }
    }

    @include query-below($lap) {
        &:not(.filter--mobile) {
            display: none;
        }
    }

}


.mobile-filter-wrapper {
    text-align: right;
    font-size: 12px;
    color: $hoverColour;

    @include query-above($lap) {
        display: none !important;
    }

    > * {
        margin-top: -3px;
    }

    &:after {
        content: "+";
        margin-left: 3px;
        margin-top: -7px;
        display: inline-block;
        vertical-align: middle;
    }
}

.filter--mobile {
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
    max-width: none;
    width: auto;

    border: 0;

    font-size: 12px;
    text-transform: uppercase;
    color: $hoverColour;
    letter-spacing: 0.078em;

    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;

    @include query-above($small) {
        font-size: 14px;
        letter-spacing: 0.092em;
    }
}