.filmstrip {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    position: absolute;

    .is--ie9 & {
        padding-left: 100px;
    }

    @include query-below($small) {
        padding-left: 1em;
    }
}

.filmstrip__item {
    width: 23vw;
    min-width: 18em;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    margin-right: 10px;
    display: none;
    overflow: hidden;

    .entry-content {
        font-size: 0.875em;
    }

    .entry-thumbnail {
        background-size: 100% 100%;
        background-size: cover;
        background-position: center;

        @include query-below($small) {
            padding-top: 50%;
        }

        @media only screen and (max-height: 400px) {
            display: none;
        }
    }

    .is--ie9 & {
        vertical-align: top;
    }

    @include query-below($small) {
        .entry-header.entry-header {
            padding: 0;
        }
    }
}


// Journal / Blog filmstrip item
.blog {
    @include query-below($small) {
        .filmstrip {
            height: initial;
            flex-direction: column;
            justify-content: center;
        }
    }

    .filmstrip__item {
        display: flex !important;
        flex-direction: column;
    }

    .item__thumb {
        flex: 0 1 23vw;
        overflow: hidden;
    }

    .item__text {
        flex: 1 1;
    }
}