.mobile-header {
    @include wp-offset(0, margin-top);
    position: absolute;
    top: $small-bar-height/2;
    transform: translate(0, -50%);
    left: 0;
    width: 100%;
    z-index: 9998;
    text-align: center;

    @include query-above($lap) {
        display: none;
    }
}