%current-item {
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 8px;
        transform: translateY(50%);
        background-image: url('assets/svg/divider.svg');
        background-repeat: repeat-x;
        background-position: top center;
        opacity: 0.25;
    }
}

.nav--main {
    @extend %font-weight--bold;
    text-transform: uppercase;

    // general styling of links inside menu
    a {
        @extend %display--inline-block;
        background: none !important;
        padding: 0.25em;

        font-size: 1.07143rem;
        margin-bottom: 0.0982rem;
        padding-top: 0.4018rem;
    }

    [class*="current-menu-"] > a {
        @extend %current-item;
    }

    @include query-above($lap) {

        a {
            padding: .25em 0;
        }

        > .menu-item {
            > a {
                padding-left: 0.75em;
                padding-right: 0.75em;
            }
        }

        // styling of current menu items
        [class*="current-menu-"] > a:before {
            left: 0.75em;
            right: 0.75em;
        }

        [class*="current-menu-"] [class*="current-menu-"] > a:before {
            left: 0;
            right: 0;
        }

        // styling sub-menus
        .menu-item-has-children, .menu-item-language-current {
            z-index: 999;

            > a:after {
                display: none;
                content: "+";
                margin-left: .5em;
            }

            > a:before {
                // right: 2.2em;
            }
        }

        .sub-menu {
            display: block;
            opacity: 0;
            pointer-events: none;
            border-radius: 4px;
            text-align: left;
            text-transform: none;
            font-size: 15px;
            line-height: 1.5;

            left: 50%;
            transform: translate3d(-50%, .5em, 0);
            background: black;
            color: #EBEBEB;

            width: 10em;
            padding: 0.75em 1.25em;
            box-shadow: 0 .35em 1em -.5em black;
            opacity: 0;
            pointer-events: none;
            will-change: transform, opacity;
            transition: opacity .2s ease-out, transform .2s ease-out;
            transform-origin: 0 0;

            a {
                color: white;
                text-shadow: none;
            }

            &:after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 100%;
                border: 8px solid transparent;
                border-bottom-color: black;
                margin-left: -4px;
            }

            .menu-item:hover > a {
                color: white;
            }
        }

        .menu-item:hover > .sub-menu {
            transform: translate3d(-50%, 0, 0);
            opacity: 1;
            pointer-events: auto;
            transition: opacity .1s ease-out, transform .1s ease-out;
        }

        .sub-menu .sub-menu {
            transform: translate3d(0, .5em, 0);
            margin-top: -.75em;

            &:after {
                display: none;
            }
        }

        .sub-menu .menu-item:hover > .sub-menu {
            transform: translateZ(0);
        }
    }

    .is--ie9 & li {
        display: inline-block;
    }
}

@include query-above($lap) {
    .main-navigation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.site-header {
    @include wp-offset(0, top, true);
}

@include query-below($lap) {

    .main-navigation {
        display: block;
        text-align: left;
    }

    .bar--fixed {
        position: static !important;
        width: 100%;
    }

    .nav--main .sub-menu {
        padding-left: 1em;
    }

    .site-header {
        width: auto !important;
        height: auto;
        position: fixed !important;
        z-index: 9999;
        left: 0;
        right: 4em !important;
        bottom: 0;
        background: white;
        transform: translate3d(-100%, 0, 0);
        box-shadow: rgba(0,0,0,0) 0 0 0;
        transition: transform .3s cubic-bezier(0.165, 0.840, 0.440, 1.000), box-shadow .3s ease-in-out; /* easeOutQuart */

        .navigation--is-visible & {
            box-shadow: rgba(black, 0.5) 0 0 10px;
        }

        .bar--fixed {
            display: block !important;
            transform: none !important;
            overflow-y: auto;
            padding: 2em;
        }

        .navigation--is-visible & {
            transform: translateZ(0);
        }
    }

    .site-header--placeholder {
        box-shadow: none !important;
    }

    .nav--main {
        display: block;
    }
}

.nav-toggle {
    position: absolute;
    top: 16px;
    left: 100%;
    margin-left: 0.8em;
    font-size: 1.5em;

    @include query-above($lap) {
        display: none;
    }
}