%current-item {
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 8px;
        transform: translateY(50%);
        background-image: url('assets/svg/divider.svg');
        background-repeat: repeat-x;
        background-position: top center;
        opacity: 0.25;
    }
}

.nav--main {
    @extend %font-weight--bold;
    text-transform: uppercase;

    // general styling of links inside menu
    a {
        @extend %display--inline-block;
        @extend %delta;
        background: none !important;
        padding: 0.25em;
    }

    [class*="current-menu-"] > a {
        @extend %current-item;
    }

    .menu-item-has-children > a:after,
    .sub-menu .menu-item-has-children:after {
        @extend %fa;
        @extend %display--inline-block;
    }

    @include query-above($lap) {

        a {
            padding: .25em 0;
        }

        > .menu-item {
            > a {
                padding-left: 0.75em;
                padding-right: 0.75em;
            }
        }

        // styling of current menu items
        [class*="current-menu-"] > a:before {
            left: 0.75em;
            right: 0.75em;
        }

        [class*="current-menu-"] [class*="current-menu-"] > a:before {
            left: 0;
            right: 0;
        }

        // styling sub-menus
        .menu-item-has-children, .menu-item-language-current {
            z-index: 999;

            > a:after {
                content: $fa-var-caret-down;
                margin-left: .5em;
            }

            > a:before {
                right: 2.2em;
            }
        }

        .sub-menu {
            width: 10em;
            padding: 1.25em 1em;
            box-shadow: 0 .35em 1em -.5em black;
            background: white;
            opacity: 0;
            pointer-events: none;
            will-change: transform, opacity;
            transform: translateY(-.5em);
            transition: opacity .1s ease-out, transform .1s ease-out;
            transform-origin: 0 0;
        }

        .menu-item:hover > .sub-menu {
            transform: none;
            opacity: 1;
            pointer-events: auto;
            transition: opacity .1s ease-in, transform .1s ease-in;
        }

        .sub-menu .menu-item-has-children {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;

            &:after {
                content: $fa-var-caret-right;
                margin-right: .5em;
            }

            > a:after {
                content: none;
            }
        }

        .sub-menu .sub-menu {
            margin-top: -1.25em;
        }
    }

    .is--ie9 & li {
        display: inline-block;
    }
}


@include query-below($lap) {

    .main-navigation {
        display: block;
    }

    .bar--fixed {
        position: static !important;
        width: 100%;
    }

    .nav--main .sub-menu {
        padding-left: 1em;
    }

    .site-header {
        width: auto !important;
        height: auto;
        position: fixed !important;
        z-index: 9999;
        @include wp-offset(0);
        left: 0;
        right: 4em !important;
        bottom: 0;
        background: white;
        box-shadow: rgba(black, 0.5) 0 0 10px;
        transform: translate3d(-100%, 0, 0);
        transition: transform .3s cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */

        .bar--fixed {
            display: block !important;
            transform: none !important;
            overflow-y: auto;
            padding: 2em;
        }

        .navigation--is-visible & {
            transform: translateZ(0);
        }
    }

    .site-header--placeholder {
        box-shadow: none !important;
    }

    .nav--main {
        display: block;
    }
}

.nav-toggle {
    position: absolute;
    top: $small-bar-height/2;
    transform: translate(0, -50%);
    left: 100%;
    margin-left: 0.8em;
    font-size: 1.5em;

    @include query-above($lap) {
        display: none;
    }
}