
.password-required {
	color: #fff;
	background-color: #000;

	.site-container.site-content {
		height: 100%;
		min-height: 500px;
	}

	.content--client-area {
		text-align: center;
		margin: auto;
	}

	.form-container {
		text-align: center;
		display: inline-block;
		max-width: 300px;
	}

	.lock-icon {
		display: inline-block;
		height: 160px;
		width: 120px;
		background: url('assets/svg/lock-icon.svg') no-repeat center center;
		background-size: contain;
	}

	.protected-area-text {
		font-size: 16px;
		margin-top: 15px;
		line-height: 27px;
		.gray {
			color: #D8D8D8;
		}
	}

	.auth-form {
		position: relative;
		margin-top: 50px;

		.auth__pass {
			height: 60px;
			font-size: 24px;
			border-radius: 8px;
		}
	}

	.auth__submit {
		position: absolute;
		right: 2px;
		top: 2px;
		bottom: 2px;
		width: 60px;
		text-indent: -999px;
		background: url('assets/svg/unlock-icon.svg') no-repeat center center #000;
		background-size: 32px;
		border-radius: 8px;
		&:hover {
			background-color: #777;
		}
	}

	.text--error {
		color: #AB0B00;
	}
}