.photometa {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    padding: 10em 1.5em 1em;
    color: white;
    @extend %transform--0;

    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.30) 100%);
    }

    &__caption,
    &__description,
    &__exif {
        @extend %position--relative;
        transition: opacity .3s ease-in-out;
        flex-grow: 0;
        -webkit-flex-grow: 0;
    }

    &__description,
    &__exif {
        opacity: 0;

        .portfolio--details .portfolio__item--active & {
            opacity: 1;
        }
    }

    &__description {
        width: 100%;
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 1em;

        > div {
            max-width: 40em;
        }
    }

    &__exif,
    &__caption {
        font-size: 12px;
    }


    &__caption {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        margin-top: .5em;
        margin-right: 1em;
        opacity: 0.5;

        .portfolio__item--active & {
            opacity: 1;
        }
    }
}