.portfolio__item--clone {
	.proof__overlay {
		opacity: 0 !important;
	}
}

.single-proof_gallery {

	.portfolio--grid .portfolio__item {
		height: 19vh;
	}

	.button-full {
		display: none !important;
	}

	.proof__overlay {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		background: rgba(0,0,0,0.5);
		opacity: 0;
		transition: opacity .3s ease-in-out;
		pointer-events: none;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateZ(0);
	}

	.photometa {
	    display: flex;
	    display: -webkit-flex;
	}

	.photometa__caption {
		opacity: 1;
	}
}

.proof__selected {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3000;
	border: 0 solid transparent;
	border-bottom-color: #50E3C2;
	border-right-color: #50E3C2;
	transition: border-width 1s ease-in, transform 1s ease-in, opacity .2s ease-out;
	transform: rotate(35deg) translate3d(60%, 60%, 0);
	opacity: 0;

	&:after {
		content: "";
		width: 16px;
		height: 14px;
		display: block;
		position: absolute;
		bottom: -15px;
		right: -15px;
		background: url('assets/svg/check-mark-icon.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-size: contain;
		opacity: 0;
		transition: all .2s .1s ease-in-out;
	}
}

.js-portfolio-item.selected {
	.proof__selected {
		transform: none;
		border-width: 20px;
		opacity: 1;
		transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);

		&:after {
			opacity: 1;
		}

		.portfolio--filmstrip & {
			border-width: 25px;

			&:after {
			    width: 23px;
			    height: 20px;
			    bottom: -19px;
			    right: -20px;
			}
		}
	}
}

.proof-btn.proof-btn.proof-btn {
	width: 3em;
	height: 3em;
	margin: 0 1em;
	transition: transform .3s ease-out;
	background-position: center center;
	background-size: 100% 100%;
	background-size: contain;
	background-repeat: no-repeat;
	flex: 0 1 3em;

	.portfolio--grid & {
		margin: 0 5%;
	}
}

.proof-btn--zoom {
	background: url('assets/svg/zoom-icon.svg');
}

.proof-btn--plus {
	background: url('assets/svg/plus-icon.svg');

	.selected & {
		display: none;
	}
}

.proof-btn--minus {
	display: none;
	background: url('assets/svg/minus-icon.svg');

	.selected & {
		display: block;
	}
}

.proof-btn--thumbs {
	display: none;

	.portfolio--filmstrip & {
		display: block;
		background: url('assets/svg/back-to-thumbs-icon.svg');
	}
}

.no-touch .js-portfolio-item:hover,
.touch .js-portfolio-item {
	.proof__overlay {
		opacity: 1;
		pointer-events: auto;
	}
}

.touch .js-portfolio-item .proof__overlay {
	background: rgba(0,0,0,0.3);
}

.pixproof-data {
	width: 100%;
	margin-bottom: 2em;

	@include query-below($lap) {
		margin-top: 1em;
	}

	.entry__meta-box span {
		display: block;
		line-height: 2;
	}

	.portfolio--filmstrip & {
		display: none;
	}

	&.pixproof-data button {
		@extend .btn;
		position: static;
	    float: right;
	    margin-right: 5em;
	    line-height: 2;
	    border-radius: 4px;
	    background: $bodyColour;
	    opacity: 1;
	    margin-top: 0.3em;
	    transition: opacity .3s ease-in-out;

	    @include query-below($lap) {
	    	float: left;
	    	margin-top: 1em;
	    }
	}

	.entry__meta-box {
		span {
			font-family: unquote(map-get($bodytype, font-family));
			color: $bodyColour;
			font-size: 14px;
		}
	}

	span.meta-box__title {
		font-family: unquote(map-get($alttype, font-family));
		font-weight: normal;
		font-style: italic;
		color: #9B9B9B;
		margin-bottom: -0.2em;
	}

	span:not(.meta-box__title) {
		font-weight: bold;
	}
}

.pixproof__wrap {
	width: 100%;
	padding-bottom: $header-height/3;

	@include query-above($small) {
		padding-right: $sidebar-width*2/3;
		padding-bottom: $header-height*2/3;
	}

	@include query-above($desk) {
		padding-right: $sidebar-width;
		padding-bottom: $header-height;
	}

	@include query-below($small) {
		padding-right: 1em;

		.comments-area,
		.comment-respond {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.pixproof__content {
	max-width: 35em;
	width: 100%;
	margin: 0 auto;
	margin-top: 3em;

	.portfolio--filmstrip & {
		display: none;
	}
}

.proof_gallery .pixproof_photo_ref.pixproof_photo_ref {
    letter-spacing: 0.1px;
    padding: 0.1em 0.5em 0;
    margin: 0 0.2em 0 0.3em;
    line-height: 1.4;
    border-radius: 1.9em;
    display: inline-block;
    background: $bodyColour;
    color: white;
}