.touch .single-jetpack-portfolio .site-footer,
.touch .single-proof_gallery .site-footer {
    padding-bottom: 0;
}

img {
    will-change: opacity;
}

.proof__overlay {
    display: none;
}

.portfolio {
    @extend %display--flex;
    @extend %position--absolute;
    opacity: 0;
    -webkit-overflow-scrolling: touch;

    height: 100%;
    pointer-events: none;

    @include query-above($lap) {
        left: $border-width;
        padding-left: $sidebar-width * 2/3;
    }

    @include query-above($desk) {
        padding-left: $sidebar-width;
    }

    .project_layout-fullscreen & {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .site-content--fullscreen & {
        opacity: 1;
        pointer-events: auto;
        position: static;
    }

    img { @extend %display--block; }

    &__header {
        @extend %display--flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        justify-content: center;
        -webkit-justify-content: center;
        padding-right: 4em;

        .entry-header {
            text-align: left;
        }

        @include query-below($small) {
            padding-right: 1em;
        }
    }

    &__link-wrap {
        @extend %display--flex;
        flex-shrink: 0;
    }

    &__title,
    &__type {
        margin: 0;
        padding: 0;
    }

    &__title {
        overflow: hidden;
    }

    &__type {
        @extend %delta;
        text-transform: uppercase;
        font-weight: bold;

        @include query-below($desk) {
            font-size: 0.9em;
        }

        @include query-below($small) {
            font-size: 0.75em;
            margin-bottom: -0.75em;
        }

        .portfolio-category & {
            display: none;
        }
    }

    &__position {
        @extend %display--inline-block;
        font-weight: bold;
        font-size: 13px;
    }

    &__item {
        position: relative;
        background: #eee;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        margin-right: 1em;
        will-change: opacity;
        transition: opacity .3s ease-in-out;
        cursor: pointer;
        // height: 100%;

        img {
            width: 100%;
        }

        &--content {
            min-width: 40em;
        }
    }

    &__item--target {
        background: none;

        img {
            opacity: 0;
        }
    }

    &__item--text {
        opacity: 1;
        width: 32em;
        background: white;
        -webkit-column-width: 24em;
        column-width: 24em;
        -webkit-column-gap: 4em;
        column-gap: 4em;
        -moz-column-fill: balance; /* Firefox */
        column-fill: balance;
        padding: 0 3em 0 1em;
        cursor: default;

        font-size: 0.875em;

        @include query-below($lap) {
            padding-top: 0.75em;
        }

        @include query-below(600px) {
            width: 96vw;
            -webkit-column-width: calc(96vw - 4em - 20px);
            column-width: calc(96vw - 4em - 20px);
            -webkit-column-gap: 2em;
            column-gap: 2em;
            padding-left: 20px;
            padding-right: 2em;
        }

        > :first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }

    &__item--video {
        max-width: 100vw;
        height: 100%;

        body.is-scrolling & iframe {
            pointer-events: none;
        }

        iframe {
            max-width: 100%;
        }

        .jetpack-video-wrapper {
            max-width: 100%;
            height: 100%;
        }
    }

    &--grid {
        @extend %position--fixed;
        @extend %transform--0;
        overflow-x: hidden;
        overflow-y: auto;
        flex-wrap: wrap;
        align-content: flex-start;
        -webkit-flex-wrap: wrap;
        z-index: 100;
        height: 100%;
        height: calc(100vh - #{$small-bar-height});

        @include query-above($lap) {
            right: $border-width;
            height: calc(100vh - #{$header-height*2/3});
        }

        @include query-above($large) {
            height: calc(100vh - #{$header-height});
        }

        @include query-below($small) {
            padding-left: 1em;
        }

        .portfolio__item {
            opacity: 0;

            img {
                opacity: 0;

                .page-template-portfolio-page & {
                    opacity: 1;
                }
            }
        }

        &.portfolio--visible {

            .portfolio__item {
                opacity: 1;
            }
        }

        .portfolio-archive & {
            padding-bottom: 0;
            min-height: 15vh;

            @include query-below($small) {
                min-height: 13vh;
            }

            @media only screen and (max-height: 480px) and (min-width: 400px) {
                min-height: 40vh;
            }
        }
    }

    &--filmstrip {
        z-index: 350;
        opacity: 0;

        &.portfolio--visible {
            opacity: 1;
        }
    }

    .portfolio__item--target .portfolio__item--clone ~ img {
        opacity: 0 !important;
    }

    &--grid &__item {
        margin-right: .5em;
        margin-bottom: .5em;
        height: 15vh;
        position: relative;

        @include query-below($small) {
            height: 13vh;
        }

        @media only screen and (max-height: 480px) and (min-width: 400px) {
            height: 40vh;
        }
    }

    &--grid:after {
        display: block;
        width: 100%;
        height: 15vh;
    }

    &--grid &__item--content,
    &--grid &__item--text {
        @extend .hidden;
    }

    &--project {
        width: 100%;
        height: auto;
        position: static;
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        margin-bottom: .5em;
    }

    &--project &__item {
        margin-bottom: 0;
    }

    &--project &__item--text {
        @extend %display--none;
    }

    &--visible {
        pointer-events: auto;
    }

    &__meta {
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
    }

    &__flex {
        display: flex;
    }
}

.page-template-custom-portfolio-page:not(.single-jetpack-portfolio),
.tax-jetpack-portfolio-type,
.tax-jetpack-portfolio-tag {
    .portfolio--grid {
        padding-bottom: 0;
        display: none;
        opacity: 1;

        @include query-below($lap) {
            padding-left: 7vw;
            padding-right: 7vw;
        }
    }
}

.portfolio-wrapper .portfolio--project:last-of-type {
    margin-bottom: 30px;
}

.is--ie-le10 .portfolio-wrapper {
    .portfolio__link-wrap, .portfolio__header, .portfolio__item {
        display: inline-block;
        vertical-align: middle;
    }
}

.is--ie-le10 .portfolio__item {
    display: inline-block;
}

.page-template-portfolio-page,
.tax-jetpack-portfolio-tag,
.tax-jetpack-portfolio-type {

    .entry-header,
    .entry-footer {
        @extend %display--none;
    }
}

.portfolio-archive .portfolio--project {
    overflow: hidden;
}

.button-full {
    position: absolute;
    top: 3px;
    right: 4px;
    background: url('assets/svg/fullscreen.svg');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    will-change: opacity;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    pointer-events: none;

    .portfolio__item--active & {
        opacity: 1;
        pointer-events: auto;
    }
}

.js-last,
.js-reference,
.js-compare {
    color: white;
    margin-top: -100px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 0.5em;
    z-index: 99999999999;
}

.js-last {
    border-left: 0.2em solid green;
    background-color: rgba(green, 0.25);
}

.js-reference {
    border-left: 0.2em solid blue;
    background-color: rgba(blue, 0.25);
}

.js-compare {
    border-left: 0.2em solid gray;
    background-color: rgba(gray, 0.25);
}



// Embeds
.portfolio__item--video {
    .wp-audio-shortcode {
        min-width: 500px;

        .mejs-mediaelement {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .mejs-mediaelement {
        position: static;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-position-x: -100px;}
    to {background-position-x: 100px;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-position-x: -100px;}
    to {background-position-x: 100px;}
}

.is--ie-le10,
.no-flexbox {

    .portfolio-archive {

        .portfolio--project,
        .portfolio__header {
            display: inline-block;
        }
    }

    .portfolio--project {
        white-space: nowrap;
    }

    .portfolio--grid {
        padding-left: 2em;
    }

    .portfolio--filmstrip {
        width: 100%;
        white-space: nowrap;
        padding-left: $sidebar-width;

        &, > .portfolio__item {
            height: calc(100vh - #{$header-height + $footer-height});
            display: inline-block;
        }

        .portfolio__item {
            overflow: hidden;
        }
    }
}

.portfolio__item--nav {
    padding-left: 30px;
    flex-basis: 210px;

    a {
        display: block;
        margin-bottom: 15px;
    }

    .caption {
        padding-top: 0;
    }

    .nav__label {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 4px;
    }

    .nav__link--archive {
        margin-top: 35px;
    }
}


.is--ie {
    .portfolio__header {
        display: block;
        float: left;
    }

    .portfolio__link-wrap {
        display: block;
        white-space: nowrap;

        > * {
            display: inline-block;
        }
    }
}

.is--ie-le10 .portfolio-wrapper {
    padding-bottom: $header-height;
}
