.single-jetpack-portfolio .site,
.jetpack-portfolio .site,
.single-proof_gallery .site {
    @extend %display--flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.touch .single-jetpack-portfolio .site-footer,
.touch .single-proof_gallery .site-footer {
    padding-bottom: 0;
}

img {
    will-change: opacity;
}

.is--ie9 .portfolio-wrapper {
    padding-bottom: $header-height;
}

.proof__overlay {
    display: none;
}

.portfolio {
    @extend %display--flex;
    @extend %position--absolute;
    opacity: 0;
    -webkit-overflow-scrolling: touch;

    height: 100%;
    pointer-events: none;

    .project_layout-fullscreen & {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .site-content--fullscreen & {
        opacity: 1;
        pointer-events: auto;
        position: static;
    }

    img { @extend %display--block; }

    &__header {
        @extend %display--flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        justify-content: center;
        -webkit-justify-content: center;
        padding-right: 4em;

        .entry-header {
            text-align: left;
        }

        @include query-below($small) {
            padding-right: 1em;
        }
    }

    &__link-wrap {
        @extend %display--flex;
        flex-shrink: 0;
    }

    &__title,
    &__type {
        margin: 0;
        padding: 0;
    }

    &__title {
        overflow: hidden;
    }

    &__type {
        @extend %delta;
        text-transform: uppercase;
        font-weight: bold;

        @include query-below($small) {
            font-size: 0.75em;
            margin-bottom: -0.75em
        }

        .portfolio-category & {
            display: none;
        }
    }

    &__position {
        @extend %display--inline-block;
        font-weight: bold;
        font-size: 13px;
    }

    &__item {
        position: relative;
        background: #eee;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        margin-right: 1em;
        will-change: opacity;
        transition: opacity .3s ease-in-out;
        cursor: pointer;

        img {
            width: 100%;
        }

        &--content {
            min-width: 40em;
        }

        .portfolio--filmstrip &:not(.portfolio__item--text):before {
            content: "";
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            margin-left: -50px;
            max-width: 90%;
            height: 4px;
            background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3) 30%, transparent 30%);
            background-position-x: 0;
            background-size: 200%;
            animation-name: mymove;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            border-radius: 2px;
            transition: opacity .1s ease-out;
        }

        .portfolio--filmstrip &.js-loaded:before {
            opacity: 0;
        }
    }

    &__item--target {
        background: none;

        img {
            opacity: 0;
        }
    }

    &__item--text {
        background: white;
        -webkit-column-width: 24em;
        column-width: 24em;
        -webkit-column-gap: 4em;
        column-gap: 4em;
    -moz-column-fill: auto; /* Firefox */
        column-fill: auto;
        padding: 0 3em 0 1em;
        cursor: default;

        font-size: 0.875em;

        > :first-child {
            margin-top: 0;
        }
    }

    &__item--video {
        height: 100%;

        .jetpack-video-wrapper {
            max-width: 100%;
            height: 100%;
        }
    }

    &--grid {
        @extend %position--fixed;
        @extend %transform--0;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 2 * $header-height;
        flex-wrap: wrap;
        align-content: flex-start;
        -webkit-flex-wrap: wrap;
        z-index: 100;

        .touch &{
            padding: 0 1em;
            padding-bottom: 70px;
        }

        .portfolio__item {
            opacity: 0;

            img {
                opacity: 0;

                .page-template-portfolio-page & {
                    opacity: 1;
                }
            }
        }

        &.portfolio--visible {

            .portfolio__item {
                opacity: 1;
            }
        }

        .portfolio-archive & {
            padding-bottom: 0;
            min-height: 15vh;

            @include query-below($small) {
                min-height: 13vh;
            }
        }
    }

    &--filmstrip {
        z-index: 350;
        opacity: 0;

        &.portfolio--visible {
            opacity: 1;
        }
    }

    .portfolio__item--target .portfolio__item--clone ~ img {
        opacity: 0 !important;
    }

    &--grid &__item {
        margin-right: .5em;
        margin-bottom: .5em;
        height: 15vh;
        position: relative;

        @include query-below($small) {
            height: 13vh;
        }
    }

    &--grid &__item--content,
    &--grid &__item--text {
        @extend .hidden;
    }

    &--project {
        opacity: 1;
        position: static;
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        margin-bottom: .5em;
    }

    &--project &__item {
        margin-bottom: 0;
    }

    &--project &__item--text {
        @extend %display--none;
    }

    &--visible {
        pointer-events: auto;
    }

    &__meta {
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
    }
}

.tax-jetpack-portfolio-type .portfolio--grid {
    padding-bottom: 0;
}

.is--ie9 .portfolio-wrapper {
    .portfolio__link-wrap, .portfolio__header, .portfolio__item {
        display: inline-block;
        vertical-align: middle;
    }
}

.is--ie9 .portfolio__item {
    display: inline-block;
}

.page-template-portfolio-page,
.tax-jetpack-portfolio-type {

    .entry-header,
    .entry-footer {
        @extend %display--none;
    }
}

.portfolio-archive .portfolio--project {
    overflow: hidden;
}

.portfolio_page_type-portfolio, .tax-jetpack-portfolio-type {
    .site-container {
        overflow-x: hidden;
    }
}

.button-full {
    position: absolute;
    top: 3px;
    right: 4px;
    background: url('assets/svg/fullscreen.svg');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    will-change: opacity;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    pointer-events: none;

    .portfolio__item--active & {
        opacity: 1;
        pointer-events: auto;
    }
}

.js-last,
.js-reference,
.js-compare {
    color: white;
    margin-top: -100px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 0.5em;
    z-index: 99999999999;
}

.js-last {
    border-left: 0.2em solid green;
    background-color: rgba(green, 0.25);
}

.js-reference {
    border-left: 0.2em solid blue;
    background-color: rgba(blue, 0.25);
}

.js-compare {
    border-left: 0.2em solid gray;
    background-color: rgba(gray, 0.25);
}





// Embeds
.portfolio__item--video {
    .wp-audio-shortcode {
        min-width: 500px;

        .mejs-mediaelement {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .mejs-mediaelement {
        position: static;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-position-x: -100px;}
    to {background-position-x: 100px;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-position-x: -100px;}
    to {background-position-x: 100px;}
}