$spinner-color: #69717d !default;

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.preloader {
  width: 5em;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  position: relative;

  &__spinner {
    font-size: 2em;
    position: absolute;
    z-index: 10000;
    display: inline-block;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin-left: -8px;
  }

  &__center {
    @extend .absolute-center;
  }

  i {
    display: block;
    position: absolute;
    left: .4629em;
    bottom: 0;
    width: .074em;
    height: .2777em;
    border-radius: .5em;
    background-color: transparent;
    transform-origin: center -.2222em;
    animation: spinner-fade 1s infinite linear;

    $animation-delay: 0s;
    $blade-rotation: 0deg;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: $animation-delay;
        transform: rotate($blade-rotation);
        $blade-rotation: $blade-rotation + 30;
        $animation-delay: $animation-delay + .083 ;
      }
    }
  }

  .portfolio-wrapper & {
    width: 100%;
    height: 5em;
    margin-top: -1.3em;
    margin-bottom: 1em;
  }
}

@keyframes spinner-fade {
  0% { background-color: $spinner-color }
  100% { background-color: transparent }
}
