.projects-filter {
	position: fixed;
	left: 36px;
	bottom: 36px;
	z-index: 500;

	&.is-open {
		.filter__trigger {
			opacity: 0;
		}
	}

	.is--ie &.is-open .filter__text {
		opacity: 1;
	}

	@include query-below($desk) {
		left: 12px;
		bottom: 22px;
	}

	@include query-below($lap) {
		display: none;
	}
}

.filter__trigger {
	width: 65px;
	height: 60px;

	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%) translateZ(0);
	z-index: 50;

	background: url('assets/svg/filter-icon.svg') no-repeat center center;
	background-size: 22px 22px;

	opacity: 1;

	transition: 0.2s all linear;
}

.filter__content {
	padding: 11px 9px 11px 78px;
	height: 50px;

	background: white;
	border: 1px solid #EBEBEB;
	border-radius: 4px;

	opacity: 0;

	@include query-above(1600px) {
		padding: 6px 9px 6px 78px;
	}
}

.filter__text {
	@extend .caption;

	position: absolute;
	left: 18px;
	top: 50%;
	transform: translateY(-50%) translateZ(0);

	padding-top: 0;

	pointer-events: none;

	text-transform: none;
	color: $hoverColour;

	.is--ie & {
		opacity: 0;
	}
}

.filter__list {
	@extend %margin--0;
	@extend %padding--0;

	display: none;
	vertical-align: middle;
	list-style-type: none;

	li {
		padding: 0;
		margin: 0 6px;
		display: inline-block;
	}

	.filter__item {
		margin: 0;

		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.093em;

		color: $hoverColour;

		transition: 0.2s color linear;

		&.active, &:hover {
			color: $bodyColour;
			border-bottom: 1px solid #EBEBEB;
			font-weight: normal;
		}

		&:before {
			content: none !important;
		}
	}
}

.is--ie-le10 .projects-filter {
	.filter__trigger {
		opacity: 0 !important;
	}

	.filter__list {
		display: block !important;
	}

	.filter__text,
	.filter__content {
		opacity: 1 !important;
	}
}