.site-sidebar {
    @extend %position--relative;
}

@include query-above($small) {
    .site-sidebar {
        flex-basis: $sidebar-width;
        -webkit-flex-basis: $sidebar-width;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        flex-grow: 0;
        -webkit-flex-grow: 0;
        z-index: 400;
        margin-left: 7px;

        .is--ie9 & {
            position: fixed;
            left: 0;
            top: 0;

            width: 100px;
            height: 100vh;
        }
    }
}

.site-sidebar__content {
    .entry-meta {
        @extend %delta;
        margin: 0;
        padding: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@include query-above($small) {
    .site-sidebar__content {
        position: absolute;
        width: calc(100vh - #{2 * $header-height});
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);

        .divider {
            margin: 0 1em;
        }

        .entry-header,
        .divider,
        .entry-meta {
            display: inline-block;
        }
    }
}

.site-sidebar__text {
    @extend %delta;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
}