.site-sidebar {
    @extend %position--relative;

    @include query-below($small) {
        display: none;
    }
}

.site-sidebar:not(.site-sidebar--archive) {
    @include query-above($small) {
        flex-basis: $sidebar-width*2/3;
        -webkit-flex-basis: $sidebar-width*2/3;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        flex-grow: 0;
        -webkit-flex-grow: 0;
        z-index: 400;
        margin-left: 7px;

        .is--ie-le10 & {
            position: fixed;
            left: 0;
            top: 0;

            width: 100px;
            height: 100vh;
        }
    }

    @include query-above($desk) {
        flex-basis: $sidebar-width;
        -webkit-flex-basis: $sidebar-width;
    }
}

@include query-above($lap) {
    .site-sidebar {
        flex-basis: $sidebar-width;
        -webkit-flex-basis: $sidebar-width;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        flex-grow: 0;
        -webkit-flex-grow: 0;
        z-index: 400;
        margin-left: 7px;

        .is--ie-le10 & {
            position: fixed;
            left: 0;
            top: 0;

            width: 100px;
            height: 100vh;
        }
    }
}

.site-sidebar__content {
    .entry-meta {
        @extend %delta;
        margin: 0;
        padding: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@include query-above($small) {
    .site-sidebar__content {
        position: absolute;
        width: calc(100vh - #{2 * $header-height});
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);

        .divider {
            margin: 0 1em;
        }

        .entry-header,
        .divider,
        .entry-meta {
            display: inline-block;
        }
    }
}

.site-sidebar__text {
    @extend %delta;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
}





// Sidebar for archives

.site-sidebar--archive {
    display: block;
    padding: 34px 7vw;
    padding-bottom: 26px;
    font-size: 0;

    > * {
        width: 50%;
        display: inline-block;
    }

    .site-sidebar__text {
        position: static;

        text-align: left;
        font-size: 15px;
        letter-spacing: 0.1em;

        transform: none;
    }
}

@include query-above($small) {
    .site-sidebar--archive {
        padding: 34px 19vw;
        padding-bottom: 26px;

        .site-sidebar__text {
            font-size: 24px;
        }
    }
}

@include query-above($lap) {
    .site-sidebar--archive {
        padding: 0;

        .site-sidebar__content {
            position: absolute;
            transform: translate(-50%, -50%) rotate(-90deg);
            font-size: 15px;
        }
    }
}

// Some special treatment for portfolio archive pages
@include query-above($lap) {
    .page-template-custom-portfolio-page, .tax-jetpack-portfolio-type {
        .site-sidebar--archive {
            position: fixed;
            left: 7px;
            top: 125px;

            width: 110px;
            height: calc(100vh - 250px);
        }
    }
}

// @include query-below($desk) {
//     .page-template-custom-portfolio-page, .tax-jetpack-portfolio-type {
//         .site-sidebar--archive {
//             padding-left: 7vw;
//             padding-right: 7vw;
//         }
//     }
// }
