/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

    &:focus {
        background-color: $backgroundColour;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        clip-path: none;
        color: $bodyColour;
        display: block;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

.site-description {
    @extend %display--none;
}

.site-header {
    @extend %bar;
    z-index: 552;

    @include query-above($lap) {
        &.site-header {
            top: 7px;
        }
    }

    .page &,
    .single & {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
    }

    .page-template & {
        position: absolute;
    }

    .portfolio_page_type-portfolio & {
        position: fixed;
        left: auto;
        right: auto;
    }
}

.site-header.site-header--placeholder {
    position: static !important;
    z-index: 0;
    height: $small-bar-height;

    @include query-above($lap) {
        display: block;
        height: $header-height*2/3 !important;
    }

    @include query-above($large) {
        height: $header-height !important;
    }
}

.site-header--placeholder {
    @include wp-offset(0px, margin-top);
}

.site-branding {
    @extend %bar-piece;
    @extend %bar-side;
    @extend %bar-left;
}

.main-navigation {
    @extend %bar-piece;
    @extend %bar-middle;

    // .page & {
    //     .sub-menu {
    //         background: transparent;
    //     }

    //     a {
    //         text-shadow: none;
    //     }
    // }
}

.social-navigation {
    @extend %bar-piece;
    @extend %bar-side;
    @extend %bar-right;
    font-size: 16px;

    .is--ie-le10 & {
        white-space: nowrap;
    }
}

.toggle {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-basis: 1.25em;
    -webkit-flex-basis: 1.25em;
    padding: 0 0 0 .5em;
    height: 2.1em;

    // for safari
    svg {
        width: 100%;
    }

    svg rect {
        color: currentColor;
    }

    @include query-below($lap) {
        display: none;
    }

    .is--ie-le10 & {
        display: inline-block;
        width: 22px;
    }
}

.toggle--mobile {
    display: none;
    z-index: 999;
    transition: opacity .2s ease-out;

    .navigation--is-visible .mobile-header & {
        opacity: 0;
        pointer-events: none;
    }

    @include query-below($lap) {
        display: block;
        width: 1em;
        height: 1em;
        position: absolute;
        top: 50%;
        right: 17px;
        padding: 0;
        overflow: hidden;
        transform: translate(0, -50%);

        svg {
            display: block;
        }
    }

    .is--ie-le10 & {
        display: none;
    }
}

.custom-logo-link img {
    width: auto;
}
