.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
    transition: opacity .1s ease-out, display 0 .1s;
    transform: translateZ(0);
}

.spinner__side {
	position: absolute;
    width: 20px;
    height: 40px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.side--right {
    left: 20px;
}

.spinner__fill {
	position: absolute;
	top: 0;
	left: 0;
    width: 40px;
    height: 40px;
    opacity: .6;
    border-radius: 999px;
}

.side--left .spinner__fill {
    border-left: 20px solid rgba(0,0,0,0.15);
    animation: cssSpinnerLeft 1.8s infinite linear;
}

.side--right .spinner__fill {
    border-right: 20px solid rgba(0,0,0,0.15);
    animation: cssSpinnerRight 1.8s infinite linear;
    left: -20px;
}

.portfolio__item--text .spinner {
	display: none;
}

.portfolio__item.js-loaded .spinner,
.portfolio__item--clone .spinner {
    opacity: 0;
    display: none;
}

@-webkit-keyframes cssSpinnerRight{
	0% {-webkit-transform:rotate(0deg)}
  	20% {-webkit-transform:rotate(90deg)}
	25% {-webkit-transform:rotate(180deg)}
	50% {-webkit-transform:rotate(180deg)}
  	70% {-webkit-transform:rotate(270deg)}
	75% {-webkit-transform:rotate(360deg)}
	100% {-webkit-transform:rotate(360deg)}
}

@-webkit-keyframes cssSpinnerLeft{
	0% {-webkit-transform:rotate(0deg)}
	25% {-webkit-transform:rotate(0deg)}
  	35% {-webkit-transform:rotate(90deg)}
	50% {-webkit-transform:rotate(180deg)}
	75% {-webkit-transform:rotate(180deg)}
  	80% {-webkit-transform:rotate(270deg)}
	100% {-webkit-transform:rotate(360deg)}
}

@-moz-keyframes cssSpinnerRight{
	0% {-moz-transform:rotate(0deg)}
  	20% {-moz-transform:rotate(90deg)}
	25% {-moz-transform:rotate(180deg)}
	50% {-moz-transform:rotate(180deg)}
  	70% {-moz-transform:rotate(270deg)}
	75% {-moz-transform:rotate(360deg)}
	100% {-moz-transform:rotate(360deg)}
}

@-moz-keyframes cssSpinnerLeft{
	0% {-moz-transform:rotate(0deg)}
	25% {-moz-transform:rotate(0deg)}
  	35% {-moz-transform:rotate(90deg)}
	50% {-moz-transform:rotate(180deg)}
	75% {-moz-transform:rotate(180deg)}
  	80% {-moz-transform:rotate(270deg)}
	100% {-moz-transform:rotate(360deg)}
}

@-o-keyframes cssSpinnerRight{
	0% {-o-transform:rotate(0deg)}
  	20% {-o-transform:rotate(90deg)}
	25% {-o-transform:rotate(180deg)}
	50% {-o-transform:rotate(180deg)}
  	70% {-o-transform:rotate(270deg)}
	75% {-o-transform:rotate(360deg)}
	100% {-o-transform:rotate(360deg)}
}

@-o-keyframes cssSpinnerLeft{
	0% {-o-transform:rotate(0deg)}
	25% {-o-transform:rotate(0deg)}
  	35% {-o-transform:rotate(90deg)}
	50% {-o-transform:rotate(180deg)}
	75% {-o-transform:rotate(180deg)}
  	80% {-o-transform:rotate(270deg)}
	100% {-o-transform:rotate(360deg)}
}

@keyframes cssSpinnerRight{
	0% {transform:rotate(0deg)}
  	20% {transform:rotate(90deg)}
	25% {transform:rotate(180deg)}
	50% {transform:rotate(180deg)}
  	70% {transform:rotate(270deg)}
	75% {transform:rotate(360deg)}
	100% {transform:rotate(360deg)}
}

@keyframes cssSpinnerLeft{
	0% {transform:rotate(0deg)}
	25% {transform:rotate(0deg)}
  	35% {transform:rotate(90deg)}
	50% {transform:rotate(180deg)}
	75% {transform:rotate(180deg)}
  	80% {transform:rotate(270deg)}
	100% {transform:rotate(360deg)}
}
