*, *:before, *:after {
    box-sizing: border-box;
}

html[lang] {
    margin-top: 0 !important;
}

html, body, .site {
    height: 100%;
}

.block-link {
    @extend %display--block;
}

.show-details {
    margin: 0;
    padding: 0;
    position: relative;
    top: -0.1em;

    &:before {
        color: $headingColour;
        content: "\2014";
        padding: 0 .5em;
    }

    .portfolio--details & span {
        text-decoration: underline;
    }
}

// WP DEBUGGER
#querylist * {
    text-shadow: none !important;
}