*, *:before, *:after {
    box-sizing: border-box;
}

html[lang] {
    margin-top: 0 !important;
}

html, body, #page, .site, #djaxContainer {
    height: 100%;

    // .page & {
    //     height: auto;
    // }
}

#djaxContainer {
    position: relative;

    .portfolio_page_type-project_slider & {
        overflow: hidden;
    }
}

.slider_height-full-height {

    .mobile-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9998;
    }

    .nav-toggle,
    .mobile-header a,
    .toggle {
        color: white;
    }

}

.entry-meta + .entry-featured {
    margin-top: 1.5em;
}

.block-link {
    @extend %display--block;
}

.show-details {
    margin: 0;
    padding: 0;
    position: relative;
    top: -1px;

    &:before {
        color: $headingColour;
        content: "\2014";
        padding: 0 .5em;
        position: relative;
        top: -1px;
    }

    .portfolio--details & span {
        text-decoration: underline;
    }
}

// WP DEBUGGER
#querylist * {
    text-shadow: none !important;
}

#page, .site-header, .site-footer {
    opacity: 0;
}

.navigation--is-visible {
    overflow: hidden;
}

.lang_sel_sel {
    transition-duration: 0s;
}