*, *:before, *:after {
    box-sizing: border-box;
}

html, body, #page, .site, #djaxContainer {
    height: 100%;

    // .page & {
    //     height: auto;
    // }
}

#djaxContainer {

    .portfolio_page_type-project_slider & {
        position: relative;
        overflow: hidden;
    }

    // @include query-below($small) {
    //     position: relative;
    //     overflow-x: hidden;
    // }
}

html.has--nicescroll {
    overflow: hidden;
}

.portfolio_page_type-project_slider {
    overflow-x: hidden;
}

.slider_height-full-height {

    .nav-toggle,
    .mobile-header a,
    .toggle {
        color: white;
    }

}

.entry-meta + .entry-featured {
    margin-top: 1.5em;
}

.block-link {
    @extend %display--block;
}

.show-details {
    margin: 0 !important;
    padding: 0 !important;

    &:before {
        color: $headingColour;
        content: "\2014";
        padding: 0 .5em;
        position: relative;
        top: -1px;
    }

    .portfolio--details & span {
        text-decoration: underline;
    }
}

.show-details,
.show-button {
    line-height: initial;
}

.show-button.caption {
    padding-top: 0;
}

.photometa__caption {
    text-align: left;
}

.show-details:hover span,
.show-button:hover {
    text-decoration: underline;
}

// WP DEBUGGER
#querylist * {
    text-shadow: none !important;
}

#page, .site-header, .site-footer {
    opacity: 0;
}

.navigation--is-visible {
    overflow: hidden;
}

.lang_sel_sel {
    transition-duration: 0s;
}

.page-template-custom-portfolio-page .site-footer--single {
    display: none;
}

.touch {
    .single-jetpack-portfolio,
    .blog,
    .single-proof_gallery {
        .site-content {
            overflow-x: auto;
            overflow-y: hidden;
        }
    }
}

html {
    margin-top: 0 !important;
}

.portfolio__position,
.show-details:before {
    @include query-below($lap) {
        display: none;
    }
}

.portfolio-archive {
    @include query-below($small) {
        padding-left: 3em;
    }
}

.no-flexbox {
    @include query-below($lap) {
        .site-branding {
            display: none;
        }

        .site-navigation {
            text-align: left;
        }

        .site-navigation,
        .social-navigation {
            display: block;
        }

        .site-header {
            display: block;
            width: 70%;

            .bar--fixed {
                top: 0;
            }
        }
    }

    .filmstrip,
    .single-jetpack-portfolio .site,
    .jetpack-portfolio .site {
        display: block;

        .site-content {
            height: 80vh;
            height: calc(100vh - 120px);
        }
    }
}

.single-proof_gallery {
    @extend .single-jetpack-portfolio;
}