*, *:before, *:after {
    box-sizing: border-box;
}

html[lang] {
    margin-top: 0 !important;
}

html, body, .site {
    height: 100%;
}

.block-link {
    @extend %display--block;
}


// WP DEBUGGER
#querylist * {
    text-shadow: none !important;
}

// html {
//     border: 0.88vh solid black;
// }

// #page {
//     overflow-x: auto;
// }

// .admin-bar {
//     @extend %display--flex;
//     flex-direction: column;

//     #wpadminbar {
//         position: static;
//         flex-shrink: 0;
//         order: 1;
//     }

//     .site {
//         flex-grow: 1;
//         order: 2;
//     }
// }