@import "woocommerce/archive";
@import "woocommerce/single-product";
@import "woocommerce/cart";
@import "woocommerce/checkout";

@import "woocommerce/stars";


// common

.woocommerce .price {
	font-family: unquote(map-get($bodytype, font-family));
	font-feature-settings: initial;
}

.button {
	@extend .btn;
}

.onsale {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;

	@extend .btn;
}

.woocommerce-message {
	margin-bottom: 3em;
	padding: 1.5em;
	border: 1px solid $hoverColour;

	.button {
		@extend .btn;
		margin-right: 10px;
	}

	a:not(.button) {
		@extend %a;
	}
}

.woocommerce-info a {
	@extend %a;
}