$default-font-size:             16px;
$default-line-height:           1.5;
$default-transition-duration:   0.3s;

$header-height: 13vh;
$sidebar-width: 12vh;
$single-width: 675px;

$editor-style: false;