.pixcode--icon {
	@extend .icon;

	display: inline-block;
	text-align: center;
	font-size: 21px;
	color: black;

	&.square,
	&.circle {
		display: inline-block;
		background-color: black;
		color: $hoverColour;
		padding: 0;

		font-size: 18px;
		width: (48/18) + em;
		height: (48/18) + em;
		line-height: (48/18) + em;

		&:hover {
			background-color: black;
			color: white;
		}
	}

	&.circle {
		border-radius: 999px;
	}

	&.small {
		font-size: 16px;

		&.circle, &.square {
			width: (36/16) + em;
			height: (36/16) + em;
			line-height: (36/16) + em;
		}
	}

	&.medium {
		font-size: 21px;

		&.circle, &.square {
			width: (48/21) + em;
			height: (48/21) + em;
			line-height: (48/21) + em;
		}
	}

	&.big {
		font-size: 36px;

		&.circle, &.square {
			width: (72/36) + em;
			height: (72/36) + em;
			line-height: (72/36) + em;
		}
	}
}





/*--------------------------------------------*\
               ICON INSIDE A LINK
\*--------------------------------------------*/

.pixcode--icon {

	a > & {
		transition: all .15s linear;
	}

	a:hover > & {
		text-decoration: none;
		border: none;

		&.circle, &.square {
			background-color: black;
		}
	}
}
