.filmstrip {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    position: absolute;

    .is--ie9 & {
        padding-left: 100px;
    }
}

.filmstrip__item {
    width: 23vw;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    margin-right: 10px;
    display: none;
    overflow: hidden;

    .entry-content {
        font-size: 0.875em;
    }

    .is--ie9 & {
        vertical-align: top;
    }
}