.filmstrip {
    display: flex;
    height: 100%;
    position: absolute;
}

.filmstrip__item {
    width: 22vw;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 1em;
    display: none;
    overflow: hidden;
}