.fullscreen-slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: black;

	.rsContent {
		width: auto;
		height: auto;
	}

	.rsArrowLeft {
		padding-left: 42px;
	}

	.rsArrowRight {
		padding-right: 42px;
	}

	.rsArrow .rsArrowIcn {
		border-color: white;
		border-width: 1px;
		width: 25px;
		height: 25px;
	}
}

.projects-slider {
	@extend .fullscreen-slider;

	.rsSlide{
		transition: .3s box-shadow linear;
		&.rsActiveSlide {
			z-index: 50;
			box-shadow: 10px 10px 220px 200px rgba(0,0,0,0.26);
		}
	}

	.rsBullets {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 101;

		width: 100%;
		height: 13vh;

		text-align: center;

		background: white;

		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;

		.rsBullet {
			-webkit-order: 0;
			-ms-flex-order: 0;
			order: 0;
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			-webkit-align-self: auto;
			-ms-flex-item-align: auto;
			align-self: auto;
		}
	}
}

.project-slide__content {
	position: absolute;
	top: 50%;
	left: 10%;
	z-index: 1;

	transform: translateY(-50%);

	* {
		color: white;
		text-transform: uppercase;
	}
}

.project-slide__title {
	@extend .h0;

	margin: 10px 0;
	padding: 0;
}

.project-slide__text {
	@extend .h4;
	padding: 0;
	font-weight: map-get($bodytype, bold);
}

.project-slide__link {
	display: block;
}

.vertical-title {
	@extend .h4;

	position: absolute;
	top: 50%;
	z-index: 100;

	padding: 0;

	font-weight: map-get($bodytype, bold);
	text-transform: uppercase;
	color: white;

	opacity: 1;
	transition: opacity .3s linear;
	transform: translateY(-50%) rotate(-90deg);

	.rsActiveSlide & {
		opacity: 0;
	}

	&.left-align {
		left: 0.5vw;
	}

	&.right-align {
		right: 0.5vw;
	}
}

.project_layout-fullscreen {
	.site-content {
		position: static;
	}

	.site-header, .site-footer {
		z-index: 550;
	}
}

.slider_height-full-height {
	.rsBullets {
		background: transparent;

		.rsBullet {
			border-color: white;
		}

		.rsNavSelected {
			background: white;
		}
	}
}

.slider_height-full-height, .project_layout-fullscreen {
	.bar--fixed, .site-header, .site-footer {
		background: transparent;

		* {
			color: white;
			text-shadow: none;
		}

	}

	.nav--main .sub-menu {
		background: transparent;
	}
}