.fullview {
    @extend %transform--0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    opacity: 0;
    pointer-events: none;

    &--visible {
        opacity: 1;
        pointer-events: auto;
    }

    &__image {
        position: relative;

        img {
            width: 100%;
        }
    }

    &__close {
        position: absolute;
        top: 1em;
        right: 1em;
        color: white;
        font-size: 2em;
        cursor: pointer;
        z-index: 10;
    }
}