.site-content--fullview {
    z-index: 10000;

    .site-content__mask {
        display: none;
    }
}

.fullview {
    @extend %transform--0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 600;
    opacity: 0;
    pointer-events: none;

    &--visible {
        opacity: 1;
        pointer-events: auto;
    }

    &__image {
        position: absolute;

        img {
            width: 100%;
        }
    }

    &__close {
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        top: 3.5em;
        right: 3.5em;
        cursor: pointer;
        z-index: 10;
        background: url('assets/svg/close-button.svg') no-repeat;
        background-size: cover;
    }

    .rsArrow {
        opacity: .5;
        transition: opacity .3s linear;
        padding: 1.5em;

        &:hover {
            opacity: 1;
        }

        .rsArrowIcn {
            margin: 0 auto;
            border-color: white;
            width: 1.250em;
            height: 1.250em;
        }
    }

    .rsArrowLeft {
        left: 3.7em;
        margin-left: -1.5em;
    }

    .rsArrowRight {
        right: 3.7em;
        margin-right: -1.5em;
    }
}