//.gallery {
//    @extend %display--flex;
//    @extend %position--absolute;
//    min-height: 100%;
//
//    img {
//        display: block;
//    }
//}
//
//.gallery__item {
//    background: #eee;
//    flex-shrink: 0;
//    margin-right: 1em;
//}
//
//.gallery-item--content {
//    min-width: 40em;
//}
//
//.gallery--grid {
//    min-height: 15vh;
//    flex-wrap: wrap;
//
//    .gallery__item {
//        margin-right: .5em;
//        margin-bottom: .5em;
//    }
//
//    .gallery-item--content {
//        display: none;
//    }
//}
//
//.gallery__header {
//    @extend %display--flex;
//    flex-direction: column;
//    flex-shrink: 0;
//    justify-content: center;
//    padding-right: 4em;
//}
//
//.gallery__category {
//    @extend %delta;
//    text-transform: uppercase;
//    font-weight: bold;
//}
//
//.gallery__title,
//.gallery__category {
//    margin: 0;
//    padding: 0;
//}
//
//.gallery--project {
//    position: static;
//    flex-wrap: nowrap;
//    margin-bottom: .5em;
//
//    .gallery__item {
//        margin-bottom: 0;
//    }
//}