html, body, .site {
    height: 100%;
}

body {
    border: 0.88vh solid black;
}

.screen-reader-text,
.site-description {
    @extend %display--none;
}

.site {
    @extend %display--flex;
    flex-direction: column;
}

.site-header {
    @extend %display--flex;
    flex-basis: 13vh;
    flex-shrink: 0;
}

.site-branding,
.main-navigation,
.social-navigation {
    @extend %display--flex;
    align-items: center;
}

.main-navigation {
    flex-basis: 70%;
    justify-content: center;
}

.site-branding,
.social-navigation {
    flex-basis: 15%;
    flex-grow: 1;
}

.site-branding {
    justify-content: flex-start;
    padding-left: 2em;
}

.social-navigation {
    justify-content: flex-end;
    padding-right: 2em;
    font-size: 16px;
}

.toggle {
    flex-shrink: 0;
    flex-basis: 1.25em;
    padding: 0 0 0 .5em;
    height: 1.7em;

    &:before {
        @extend %display--block;
        content: url(assets/svg/navgrid.svg);
    }
}