.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 100%;
	z-index: 1100;

	width: 100%;
	height: 100vh;

	opacity: 0;
	background: #222222;
	color: white;

	transform: translateZ(0);

	-webkit-overflow-scrolling: touch;

	* {
		text-shadow: none;
	}

	.admin-bar & {
		top: 32px;
	}
}

.overlay__wrapper {
	// @todo better when widget areas are added to the navigation overlay
	width: 100%;
	padding: 150px 70px 110px 110px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;

	.is--IE & {
		min-height: 0 !important;
	}
}
	.overlay__col {
		flex-grow: 1;
		flex-shrink: 1;
		padding: 0 40px;

		&.col1 {
			position: relative;

			flex-shrink: 1;
			height: calc(100vh - 260px);
		}

		&.col2 {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 760px;

			padding-right: 0;

			height: calc(100vh - 250px);
			overflow-y: scroll;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;

			margin-bottom: 100px;
		}
	}

			.sub-col {
				flex-grow: 0;
				flex-shrink: 1;

				padding: 0 40px;
				flex-basis: 360px;
			}


.overlay,
.overlay__wrapper {

	.is--IE & {
		display: block !important;
		width: 100%;
	}
}

.overlay__close {
	position: absolute;
	right: 24px;
	top: 12px;

	padding: 12px;

	font-size: 24px;
	color: white;
}