.single-jetpack-portfolio .site {
    @extend %display--flex;
    flex-direction: column;
}

.portfolio {
    @extend %display--flex;
    @extend %position--absolute;
    @extend %transform--0;
    height: 100%;
    opacity: 0;
    pointer-events: none;

    img { @extend %display--block; }

    &__header {
        @extend %display--flex;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: center;
        padding-right: 4em;
    }

    &__title,
    &__category {
        margin: 0;
        padding: 0;
    }

    &__category {
        @extend %delta;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__position {
        @extend %display--inline-block;

        + .show-details {

            &:before {
                content: "-";
                padding: 0 1em;
            }
        }
    }

    &__item {
        background: #eee;
        flex-shrink: 0;
        margin-right: 1em;
        will-change: opacity;
        transition: opacity .3s ease-in-out;

        &--content {
            min-width: 40em;
        }
    }

    &__item--text {
        // display: flex;
        // max-width: 80vw;
        width: 29em;
        // > .wrap {
            background: white;
            -webkit-column-width: 24em;
            column-width: 24em;
            -webkit-column-gap: 5em;
            column-gap: 5em;
            padding: 0 4em 0 1em;

            > :first-child {
                margin-top: 0;
            }
        // }
    }

    &--grid {
        @extend %position--fixed;
        @extend %transform--0;
        height: auto;
        min-height: 15vh;
        flex-wrap: wrap;
    }

    &--grid &__item {
        margin-right: .5em;
        margin-bottom: .5em;
    }

    &--grid &__item--content,
    &--grid &__item--text {
        @extend .hidden;
    }

    &--project {
        opacity: 1;
        position: static;
        flex-wrap: nowrap;
        margin-bottom: .5em;
    }

    &--project &__item {
        margin-bottom: 0;
    }

    &--project &__item--text {
        @extend %display--none;
    }

    &--details {

    }

    &--details .js-portfolio-item {
        @extend %transform--0;
        opacity: 0.25;
    }

    &--visible {
        opacity: 1;
        pointer-events: auto;
    }


    &__item[class*="--active"] {
        opacity: 1;
    }
}

.page-template-portfolio-page {

    .site-content {
        overflow-x: hidden;
    }

    .entry-header,
    .entry-footer {
        @extend %display--none;
    }
}

.js-last,
.js-reference,
.js-compare {
    color: white;
    margin-top: -100px;
    position: absolute;
    top: 100%;
    left: 0;
    // width: 5px;
    // height: 50px;
    padding: 0 0.5em;
}

.js-last { background: red; }
.js-reference { background: blue; }
.js-compare { background: green; }