.single-jetpack-portfolio .site,
.jetpack-portfolio .site {
    @extend %display--flex;
    flex-direction: column;
}

img {
    will-change: opacity;
    // transition: opacity .3s ease-in-out;
}

.portfolio {
    @extend %display--flex;
    @extend %position--absolute;
    // @extend %transform--0;

    height: 100%;
    pointer-events: none;

    .project_layout-slider & {
        top: 0; bottom: 0;
        left: 0; right: 0;
    }

    .site-content--fullscreen & {
        opacity: 1;
        pointer-events: auto;
        position: static;
    }

    img { @extend %display--block; }

    &__header {
        @extend %display--flex;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: center;
        padding-right: 4em;
    }

    &__title,
    &__type {
        margin: 0;
        padding: 0;
    }

    &__title {
        overflow: hidden;
    }

    &__type {
        @extend %delta;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__position {
        @extend %display--inline-block;
    }

    &__item {
        // @extend %transform--0;
        position: relative;
        background: #eee;
        flex-shrink: 0;
        margin-right: 1em;
        will-change: opacity;
        transition: opacity .3s ease-in-out;
        cursor: pointer;

        &--content {
            min-width: 40em;
        }
    }

    &__item--target {
        background: none;

        img {
            opacity: 0;
        }
    }

    &__item--text {
        // display: flex;
        // max-width: 80vw;
        width: 29em;
        // > .wrap {
            background: white;
            -webkit-column-width: 24em;
            column-width: 24em;
            -webkit-column-gap: 5em;
            column-gap: 5em;
            padding: 0 4em 0 1em;

            > :first-child {
                margin-top: 0;
            }
        // }
    }

    &--grid {
        @extend %position--fixed;
        @extend %transform--0;
        height: auto;
        flex-wrap: wrap;
        z-index: 100;

        .portfolio__item {
            opacity: 0;

            img {
                opacity: 0;
                // transition: none !important;

                .page-template-portfolio-page & {
                    opacity: 1;
                }
            }
        }

        &.portfolio--visible {

            .portfolio__item {
                opacity: 1;
            }
        }
    }

    &--filmstrip {
        z-index: 350;
        opacity: 0;

        &.portfolio--visible {
            opacity: 1;
        }
    }

    &--grid &__item {
        margin-right: .5em;
        margin-bottom: .5em;
        height: 15vh;
        position: relative;
    }

    &--grid &__item--content,
    &--grid &__item--text {
        @extend .hidden;
    }

    &--project {
        opacity: 1;
        position: static;
        flex-wrap: nowrap;
        margin-bottom: .5em;
    }

    &--project &__item {
        margin-bottom: 0;
    }

    &--project &__item--text {
        @extend %display--none;
    }

    // &--details .js-portfolio-item:not(.portfolio__item--active) {
    //     @extend %transform--0;
    //     opacity: 0.25;
    // }

    &--visible {
        pointer-events: auto;
    }

    &__meta {
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
    }
}

.page-template-portfolio-page,
.tax-jetpack-portfolio-type {

    .site-content {
        overflow-x: hidden;
    }

    .entry-header,
    .entry-footer {
        @extend %display--none;
    }
}

.js-last,
.js-reference,
.js-compare {
    color: white;
    margin-top: -100px;
    position: absolute;
    top: 100%;
    left: 0;
    // width: 5px;
    // height: 50px;
    padding: 0 0.5em;
}

.js-last {
    border-left: 0.2em solid green;
    background-color: rgba(green, 0.25);
}

.js-reference {
    border-left: 0.2em solid blue;
    background-color: rgba(blue, 0.25);
}

.js-compare {
    border-left: 0.2em solid gray;
    background-color: rgba(gray, 0.25);
}
