.search-form {
	width: 100%;
	height: 38px;
	border: 2px solid #d7d7d7;
	overflow: hidden;

	&, & + p {
		max-width: 620px;
		margin: 0 auto;
	}

	> label, .search-field {
		display: block;
		box-sizing: border-box;
		height: 34px;
	}

	.search-field {
		padding: 8px 12px;
		border: 0;
		width: 100%;
		outline: 0;
	}

	//@todo make it more flexible (width)
	.search-submit {
		@extend .btn;

		height: 34px;
		padding: 0 10px 3px 10px;
		float: right;
		transform: translateY(-100%);

		font-size: 14px;
		text-align: center;
		font-weight: bold;
		line-height: 34px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		border: 1px solid white;
	}
}