// Styling for Single Post header and Single page header

.single-post, .page {
	.entry-title {
		margin-bottom: 20px;
	}
}

// .single-post, .page
.entry-header {
	text-align: center;

	.entry-meta {
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
}

	.entry-featured.entry-gallery {
		.tiled-gallery, .gallery {
			margin: 30px 0;
		}

		.gallery {
			margin-left: -5px;
		}
			.gallery-item {
				padding-left: 5px;
				vertical-align: middle;

				img {
					width: 100%;
				}
			}
	}


// to be used on single page as
//.entry-header.cover
.cover {
	display: table;
	width: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	> .entry-title {
		display: table-cell;
		vertical-align: middle;
		padding: 0;
		margin: 0;
	}

	&.full-height {
		min-height: 100vh;
	}

	&.half-height {
		min-height: 50vh;
	}

	&.two-thirds-height {
		min-height: 66.666666vh;
	}
}

.page-template-default .entry-title {
	color: white;
}

.page-template-default .no-image .entry-title {
	color: black;
}

//Fullwidth page template

.page-template-page-fullwidth {
	.entry-title {
		margin-top: 120px;
		margin-bottom: 40px;
		padding-top: 0;

		text-align: left;
	}
}