%single-width {
	max-width: $single-width;
	margin: 0 auto;
}

.single-post, .page-template-default {
	.entry-content, .entry-footer, .post-navigation {
		@extend %single-width;
	}

	.entry-content {
		padding: 30px 0;
	}
}

.not-found {
	@extend %single-width;

	text-align: center;
}





//Fullwidth page template
.page-template-page-fullwidth .site-container{
	padding-left: 130px;
	padding-right: 32px;
}