%single-width {
	max-width: $single-width;
	margin-left: auto;
	margin-right: auto;

	@include query-below($small) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.single-post, .page-template-default {
	.entry-content, .entry-footer, .post-navigation {
		@extend %single-width;
	}

	.entry-content {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.not-found {
	@extend %single-width;

	text-align: center;
}

.entry-content {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.page-template-fullwidth-page .site-main {
	padding-top: $header-height;
}

.admin-bar.page-template-fullwidth-page .site-main {
	padding-top: 15vh;
}




//Fullwidth page template
.page-template-fullwidth-page .site-main {
	padding-left: 130px;
	padding-right: 32px;
}