%single-width {
	max-width: $single-width;
	margin-left: auto;
	margin-right: auto;
}

.single-post, .page-template-default {
	.entry-content, .entry-footer, .post-navigation {
		@extend %single-width;
	}

	.entry-content {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.not-found {
	@extend %single-width;

	text-align: center;
}





//Fullwidth page template
.page-template-page-fullwidth .site-main {
	padding-left: 130px;
	padding-right: 32px;
}