// Styling for Single Post header and Single page header

.single-post, .page {
	.entry-title {
		margin-top: 0;
		margin-bottom: 20px;

		-ms-word-wrap: break-word;
		word-wrap: break-word;
	}
}

// .single-post, .page
.entry-header {
	text-align: center;

	@include query-below($small) {
		padding-left: 30px;
		padding-right: 30px;
	}

	.entry-meta {
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
}

	.entry-featured.entry-gallery {
		.single & {
			max-width: none;
			padding: 0;
		}

		.tiled-gallery, .gallery {
			margin: 30px 0;
		}

		.gallery {
			margin-left: -5px;
		}
			.gallery-item {
				padding-left: 5px;
				vertical-align: middle;

				img {
					width: 100%;
				}
			}
	}

.single .entry-featured {
	@extend %single-width;
}

// to be used on single page as
//.entry-header.cover
.cover {
	display: table;
	width: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	> .entry-title {
		display: table-cell;
		vertical-align: middle;
		padding: 0;
		margin: 0;
	}

	&.full-height {
		min-height: 100vh;
	}

	&.half-height {
		min-height: 50vh;
	}

	&.two-thirds-height {
		min-height: 66.666666vh;
	}
}

.page-template-default .entry-title {
	color: white;
}

.page-no-featured-image {
	.site-main {
		padding-top: $header-height;
	}

	.entry-title {
		color: black;
	}
}

.admin-bar.page-no-featured-image {
	.site-main {
		padding-top: 15vh;
	}
}

//Fullwidth page template

.page-template-fullwidth-page {
	.entry-title {
		margin-bottom: 20px;
		padding-top: 0;

		text-align: left;
	}
}

.not-found .page-title {
	margin-top: 0;
	padding-top: $header-height;
}