.site-content {
    @extend %position--relative;
    z-index: 500;
    flex-grow: 1;

    &__mask {
        // @extend %transform--0;
        position: fixed;
        z-index: 300;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        width: 100%;
        background: white;
        will-change: opacity, transform;
        transform: scale(0, 1);
        transform-origin: 0 0;
    }
}

.page-template-featured-projects-page .site-content__mask {
    transform: none;
    transform-origin: 100% 0;

    .portfolio_types,
    .project-slide__text {
        // transition: opacity .3s ease-in
    }

    .project-slide__title {

    }

    .project-slide__text {

    }
}