.site-content {
    @extend %position--relative;
    flex-grow: 1;

    &__mask {
        // @extend %transform--0;
        position: fixed;
        z-index: 90;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: white;
        will-change: opacity, width;
    }
}