.site-footer {
    @extend %bar;
    bottom: 0;
}

.share-box {
    @extend %bar-piece;
    @extend %bar-side;
    @extend %bar-left;

    position: relative;

    .share-text {
        position: absolute;
        left: 1.5em;
        top: 50%;
        transform: translateY(-50%);

        opacity: 0;
        pointer-events: none;

        color: $hoverColour;

    }
}
    .social-links-list {
        @extend %margin--0;
        @extend %padding--0;

        position: absolute;
        top: 50%;
        left: 5.5em;
        width: 100%;

        transform: translateY(-50%);
        pointer-events: none;
        opacity: 0;

        &.clickable{ pointer-events: auto; }

        a, a:hover {
            background: none;
        }

        a {
            padding: 10px;
        }
    }

.site-info {
    @extend %bar-piece;
    @extend %bar-middle;
}

.show-button {
    @extend %bar-piece;
    @extend %bar-side;
    @extend %bar-right;
}





// Single post and page footer style
.theme-name, .back-to-top {
    @extend %bar-piece;
    @extend %bar-side;
}

.theme-name {
    @extend %bar-left;

    * {
        display: inline-block;
    }
}

.back-to-top {
    @extend %bar-right;
}

.site-footer--single {
    flex-basis: 9vh;

    color: $hoverColour;
    font-weight: 300;
    font-size: 14px;
}