.screen-reader-text,
.site-description {
    @extend %display--none;
}

.site-header {
    @extend %bar;
    z-index: 552;

    .page & {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }

    .page-template-portfolio-page & {
        position: static;
        left: auto;
        right: auto;
    }

    @include wp-offset(0px, top, true);
}

.site-header--placeholder {
    position: static !important;
    z-index: 0;

    @include query-below($small) {
        display: none;
    }
}

.site-header--placeholder {
    @include wp-offset(0px, margin-top);
}

.site-branding {
    @extend %bar-piece;
    @extend %bar-side;
    @extend %bar-left;
}

.main-navigation {
    @extend %bar-piece;
    @extend %bar-middle;

    // .page & {
    //     .sub-menu {
    //         background: transparent;
    //     }

    //     a {
    //         text-shadow: none;
    //     }
    // }
}

.social-navigation {
    @extend %bar-piece;
    @extend %bar-side;
    @extend %bar-right;
    font-size: 16px;
}

.toggle {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-basis: 1.25em;
    -webkit-flex-basis: 1.25em;
    padding: 0 0 0 .5em;
    height: 1.7em;

    // for safari
    svg {
        width: 100%;
    }

    svg rect {
        color: currentColor;
    }

    @include query-below($small) {
        display: none;
    }
}

.toggle--mobile {
    display: none;

    @include query-below($small) {
        display: block;
        width: 1em;
        position: absolute;
        top: 1.7em;
        left: 200%;
        margin-left: 1.9em;
        padding: 0;
    }
}

.site-logo-link img {
    width: auto;
}